---
import { render } from "astro:content";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("blog");

	return posts.map((post) => ({
		params: { slug: post.id },
	}));
}

const { slug } = Astro.params;
const post = await getEntry("blog", slug);

if (!post) {
	throw new Error("Post not found");
}

const { Content } = await render(post);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{post.data.title}</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/digitallytailored/classless@latest/classless.min.css"
		/>
	</head>
	<body>
		<h1>{post.data.title}</h1>
		<h3>{post.data.date}</h3>
		<Content />
		<a href="/">Home</a>
	</body>
</html>
